<h1> <%= user.username %></h1>
<table>
    <tr>
        <td> name: <%= user.first_name + ' ' + user.last_name %></td>
    </tr>
    <tr>
        <td> date of birth: <%= user.date_of_birth %> </td>
    </tr>
    <tr>
        <td> wins: <%= user.wins %> </td>
    </tr>
    <tr>
        <td> losses: <%= user.losses %> </td>
    </tr>
    <tr>
        <td>total games played: <%= user.wins + user.losses %></td>
    </tr>
</table>

<a href="/delete_account">Delete Your Account</a>
