<% if (locals.errorMessage != null) { %>
  <%= errorMessage %>
  <%}%>

<form action="/logout" method="post">
    <button id="logout-btn" type="submit" style="position: absolute; top: 90px; right: 0px;">Logout</button> 
</form>
<center><h1> <%= user.username %></h1></center>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div id="profile-container">
   <image id="profileImage" src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" />
</div>
<input id="imageUpload" type="file" name="profile_photo" placeholder="Photo" required="" capture>
      <script>
      $("#profileImage").click(function(e) {
          $("#imageUpload").click();
      });
      function fasterPreview( uploader ) {
          if ( uploader.files && uploader.files[0] ){
                $('#profileImage').attr('src', window.URL.createObjectURL(uploader.files[0]) );
          }
      }
      $("#imageUpload").change(function(){
          fasterPreview( this );
      });

      </script>



</div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<center>
<table>
    <tr>
        <td> <center>Name: <%= user.first_name + ' ' + user.last_name %></center></td>
    </tr>

    <tr>
        <td><center> Wins: <%= user.wins %> </center></td>
    </tr>
    <tr>
        <td> <center>Losses: <%= user.losses %> </center></td>
    </tr>
    <tr>
        <td><center>Total Games Played: <%= user.games_played %></center></td>
    </tr>
</table>
</center>

<!-- buttons open account edit or accoutn delete modals -->
<center><button class="arial-font shadow cool-button success-button" id="delete-btn" class="profile-btn" onclick="show(delete_modal)">Delete Account</button>
<button class="arial-font shadow cool-button success-button" id = "edit-profile-btn" class="profile-btn" onclick="show(edit_modal)"> Edit Profile </button></center>


<!-- Modal for account deletion -->
<div id="delete-modal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <center>Enter Account Credentials To Delete Account</center>
    <form action="/delete_profile" method="POST">
            <input id = "style" type="text" name="username" placeholder="Username">
            <input id = "style" type="password" name="password" placeholder="Password">
            <br>
        <button class="arial-font shadow cool-button success-button" type="submit">Delete Account</button>
    </form>
    <button class="arial-font shadow cool-button success-button" id="go-back" class="profile-btn" onclick="hide(delete_modal)">Go Back</button>
  </div>
</div>

<!-- Modal for editing profile info -->
<div id="edit-modal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <form action="/edit_account" method="POST">
            <input id = "style" type="text" name="username" placeholder="Username">
            <input id = "style" type="password" name="password" placeholder="Password">
            <input id = "style" type="password" name="password_confirm" placeholder="Confirm Password">
            <br>
        <button class="arial-font shadow cool-button success-button" type="submit">Edit Account</button>
    </form>
    <button class="arial-font shadow cool-button success-button" id="go-back" class="profile-btn" onclick="hide(edit_modal)">Go Back</button>
  </div>
</div>
<center><button class="arial-font shadow cool-button success-button"><a href="/games">Back to Games!</a></button></center>
<script>
  
  var delete_modal = document.getElementById("delete-modal");
  var edit_modal = document.getElementById("edit-modal");

  function show(modal){
    modal.style.display='block';
  }

  function hide(modal){
    modal.style.display='none';
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = (event) => {
    if (event.target == delete_modal || event.target == edit_modal) {
      delete_modal.style.display = "none";
      edit_modal.style.display = "none";
  }
  }

</script>