<% if (locals.errorMessage != null) { %>
  <%= errorMessage %>
  <%}%>

<center><h1> <%= user.username %></h1></center>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div id="profile-container">
   <image id="profileImage" src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" />
</div>
<input id="imageUpload" type="file" 
       name="profile_photo" placeholder="Photo" required="" capture>
      </style>
      <script>
      $("#profileImage").click(function(e) {
          $("#imageUpload").click();
      });
      function fasterPreview( uploader ) {
          if ( uploader.files && uploader.files[0] ){
                $('#profileImage').attr('src', 
                   window.URL.createObjectURL(uploader.files[0]) );
          }
      }
      $("#imageUpload").change(function(){
          fasterPreview( this );
      });
      </script>



</div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<center>
<table>
    <tr>
        <td> name: <%= user.first_name + ' ' + user.last_name %></td>
    </tr>
    <!--<tr>
        <td> date of birth: <%= user.date_of_birth %> </td>
    </tr> -->
    <tr>
        <td> wins: <%= user.wins %> </td>
    </tr>
    <tr>
        <td> losses: <%= user.losses %> </td>
    </tr>
    <tr>
        <td>total games played: <%= user.games_played %></td>
    </tr>
</table>
</center>

<!-- buttons open account edit or accoutn delete modals -->
<center><button id="delete-btn" class="profile-btn" onclick="show(delete_modal)">Delete Account</button>
<button id = "edit-profile-btn" class="profile-btn" onclick="show(edit_modal)"> Edit Profile </button></center>


<!-- Modal for account deletion -->
<div id="delete-modal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    Enter Account Credentials To Delete Account
    <form action="/delete_profile" method="POST">
        <label for="username">Username</label>
            <input type="text" name="username">
        <label for="password">Password</label>
            <input type="password" name="password">
            <br>
        <button type="submit">Delete Account</button>
    </form>
    <button id="go-back" class="profile-btn" onclick="hide(delete_modal)">Go Back</button>
  </div>
</div>

<!-- Modal for editing profile info -->
<div id="edit-modal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <form action="/edit_account" method="POST">
        <label for="username">Username</label>
            <input type="text" name="username">
        <label for="password">New Password</label>
            <input type="password" name="password">
        <label for="password-confirm">Confirm New Password</label>
            <input type="password" name="password_confirm">
            <br>
        <button type="submit">Edit Account</button>
    </form>
    <button id="go-back" class="profile-btn" onclick="hide(edit_modal)">Go Back</button>
  </div>
</div>

<script>
  
  var delete_modal = document.getElementById("delete-modal");
  var edit_modal = document.getElementById("edit-modal");

  function show(modal){
    modal.style.display='block';
  }

  function hide(modal){
    modal.style.display='none';
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = (event) => {
    if (event.target == delete_modal || event.target == edit_modal) {
      delete_modal.style.display = "none";
      edit_modal.style.display = "none";
  }
  }

</script>