<% if (locals.errorMessage != null) { %>
  <%= errorMessage %>
  <%}%>
</br>
</br>
</br>
</br>

<center><img id="imgPreview" src="" alt="Preview"></center>
</br>
<div id="uploadButton">
<input class="ProfilePic" type="file" id="myFileInput">
</div>
<script>
  document.querySelector('#myFileInput').addEventListener("change", function(){
    const reader = new FileReader();

    reader.addEventListener("load", () => {
      localStorage.setItem("recent-image", reader.result)    
    });

    reader.readAsDataURL(this.files[0]);
  });

  document.addEventListener("DOMContentLoaded", () =>{
    const recentImageDataUrl = localStorage.getItem("recent-image");

    if (recentImageDataUrl) {
      document.querySelector("#imgPreview").setAttribute("src", recentImageDataUrl);
    }
  });

</script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


</div>
</br>
</br>
</br>
</br>
</br>
<center>
<table>
    <tr>
        <td> <center>Name: <%= user.first_name + ' ' + user.last_name %></center></td>
    </tr>

    <tr>
        <td><center> Wins: <%= user.wins %> </center></td>
    </tr>
    <tr>
        <td> <center>Losses: <%= user.losses %> </center></td>
    </tr>
    <tr>
        <td><center>Total Games Played: <%= user.games_played %></center></td>
    </tr>
</table>
</center>

<!-- buttons open account edit or accoutn delete modals -->
<center><button class="arial-font shadow cool-button success-button" id="delete-btn" class="profile-btn" onclick="show(delete_modal)">Delete Account</button>
<button class="arial-font shadow cool-button success-button" id = "edit-profile-btn" class="profile-btn" onclick="show(edit_modal)"> Edit Profile </button></center>


<!-- Modal for account deletion -->
<div id="delete-modal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <center>Enter Account Credentials To Delete Account</center>
    <form action="/delete_profile" method="POST">
            <input id = "style" type="text" name="username" placeholder="Username">
            <input id = "style" type="password" name="password" placeholder="Password">
            <br>
        <button class="arial-font shadow cool-button success-button" type="submit">Delete Account</button>
    </form>
    <button class="arial-font shadow cool-button success-button" id="go-back" class="profile-btn" onclick="hide(delete_modal)">Go Back</button>
  </div>
</div>

<!-- Modal for editing profile info -->
<div id="edit-modal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <form action="/edit_account" method="POST">
            <input id = "style" type="text" name="username" placeholder="Username">
            <input id = "style" type="password" name="password" placeholder="Password">
            <input id = "style" type="password" name="password_confirm" placeholder="Confirm Password">
            <br>
        <button class="arial-font shadow cool-button success-button" type="submit">Edit Account</button>
    </form>
    <button class="arial-font shadow cool-button success-button" id="go-back" class="profile-btn" onclick="hide(edit_modal)">Go Back</button>
  </div>
</div>
<center><button class="arial-font shadow cool-button success-button"><a href="/games">Back to Games!</a></button></center>
<script>
  
  var delete_modal = document.getElementById("delete-modal");
  var edit_modal = document.getElementById("edit-modal");

  function show(modal){
    modal.style.display='block';
  }

  function hide(modal){
    modal.style.display='none';
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = (event) => {
    if (event.target == delete_modal || event.target == edit_modal) {
      delete_modal.style.display = "none";
      edit_modal.style.display = "none";
  }
  }

</script>